@charset "UTF-8";

/* =======Шрифты ===============================*/


:root {
    /* COLORS */
    --white: #fff;
    --text: #000000;
    --bacground: rgba(255, 0, 0, 0.9);
    --btn: #e84545;
  }
  /*color: var(--text)*/

/* =======body ===============================*/
body {}
.wrapper {}

/* =======Контейнер ===============================*/
.container {
  max-width: 1440px;
}

/* SECTION 1 ================================================= */